html {
  background: mediumseagreen;
  min-height: 100%;
}
body {
  font-family: 'Verdana';
  margin: 0 auto;
  padding: 20px;
}


article {
  background: white;
  /* border: 5px solid seagreen; */
  color: #333;
  display: flex;
  flex-direction: column;
  margin: 10px;
  transition: all 0.5s ease-in-out;
}
article:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
  transform: scale(1.05);
}
.article-img {
  object-fit: cover;
  width: 100%;
}
.article-body {
  margin: 10px;
}
.article-info {
  display: flex;
  font-size: 75%;
  justify-content: space-between;
}


.columns-container {
  display: flex;
}
.column {
  /* background: #eee;
  border: 5px solid #ccc; */
}
.main-column {
  flex: 2;
}
.side-column {
  flex: 1;
}
.nested-column {
  flex: 2;
}


#main-title {
  color: white;
  filter: drop-shadow(0 0 3px white);
  text-align: center;
}